.navigation{
    display: flex;
    justify-content: flex-start;
    height: 60px;
    margin-left: 7rem;
    font-family: 'MTSWideRegular';
    transition: 0.5s ease;
}

.separator{
    opacity: 50%;
}

.button {
    padding: 20px;
    cursor: pointer;
    /*margin-right: 10px;*/
    transition: 0.2s ease;
    height: 60px;
    opacity: 50%;
    font-size: 15px;
}

.active{
    font-family: 'MTSWideMedium';
    font-size: 20px;
    height: 60px;
    opacity: 100%;
    transition: 0.5s ease;
}

.button:hover{
    opacity: 100%;
}


